body{
    margin: 0;
    padding: 0;
}
.col{
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    height: 8rem;
    background: linear-gradient(rgb(231, 51, 156), rgb(2, 65, 16));
}