body{
    margin: 0;
    padding: 0;
}
.col{
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    height: 8rem;
    background: linear-gradient(rgb(231, 51, 156), rgb(2, 65, 16));
}
.col:nth-child(3n):nth-child(3n):nth-child(3n):nth-child(3n):nth-child(3n):nth-child(3n):nth-child(2n) {
    background-color: rgba(112, 111, 11, 0.808);
}
.col:nth-child(3n):nth-child(3n):nth-child(3n):nth-child(3n) {
    background-color: rgba(17, 131, 78, 0.295);
}